// Heading Color
$heading: #ffffff;

// Text Color
$text: #a6a6a6;

// Gray Background
$bg-gray: #f2f4f5;

// Body Background
$bg-body: #222627;

// Primary Color
$primary: #db4437;

// White Color
$white: #ffffff;

// Dark Color
$dark: #0f1112;

// Border Color
$border: #393c3d;

// Hover Color
$hover: #db4437;

// Footer Color
$footer: #191c1d;

// Secondary Color
$secondary: #595959;